<p>{{ name | append : "Wairimu" }}</p>


<div>
  <ul *ngFor="let item of data">
    <li>{{ item.id }} {{ item.name }} {{ item.gender }} {{ item.age }}</li>
  </ul>
</div>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of data">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.age }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf = "user | async as user">
  <p>{{ user.name }}</p>
  <p>{{ user.email }}</p>
</div>

<!-- <h1>Posts</h1>
<div *ngFor="let post of posts">
  <h2>{{ post.userId }} {{ post.id }}</h2>
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
</div> -->

<!-- <h1>Photos</h1>
<div *ngFor="let photo of photos">
  <img [src]="photo.url" alt="{{ photo.title }}" [style.width.px]="200" [style.height.px]="200">
  <p>{{ photo.title }}</p>
  <p>{{ photo.url }}</p>
</div> -->

<div>
  <input
    type="text"
    name="todoItem"
    id="todoItem"
    [value]="newTodoText()"
    (input)="handleInput($event)"
  >
  <button (click)="addTodo()">Add Item</button>
</div>

<div>
  <ul>
    <li *ngFor="let todo of todos(); let i=index">
      {{ i }} {{ todo.text }}
      <button (click)="deleteTodo(todo.id)">Remove</button>
    </li>
  </ul>
</div>

<app-window></app-window>

